.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  background-color: #6096ba;
  justify-content: center;
  align-items: center;
  /* column-gap: 2em; */
  padding: 7rem;
  grid-gap: 2em;
  padding-top: 2rem;

  /* width: 100%; */
}
.photo {
  display: block;
  /* margin-left: auto;
    margin-right: auto; */
  justify-self: center;
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  max-width: 250px;
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 4rem;
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    /* padding: 1rem; */
    padding-top: 4rem;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    /* padding: 1rem; */
    padding: 0rem;
    padding-top: 4rem;
  }
  .photo {
    width: 300px;
    height: auto;
    max-width: 500px;
  }
}

.text {
  font-weight: 200;
  font-family: "Manrope", sans-serif;
  text-align: center;
}
.minicont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titlee {
  text-align: left;
}
