.container{
    background-color: #a6d6f5;
    display:flex;
flex-direction: column;
align-items: center;
font-family: "Manrope", sans-serif;
padding:1rem;

}

.line {
    /* border: 8px solid #ebebeb; */
    align-self: center;
    /* width: 95px; */
    border-radius: 16px;
    border: 0.5px solid black;
    width: 60%;
    margin-bottom: 1rem;
    
  }
  .title {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
  }

  .image {
    max-width:900px;
    border-radius: 16px;
    width:95%;
  }

  .title2 {
      font-weight: 200;
      font-size: 40px;
      text-align: center;
  }