/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

.fullContainer {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.wholeContainer {
  background-color: #6096ba;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo {
  height: 600px;
  width: 350px;
  padding: 1.5rem 0.5rem;
}

.titles {
  font-weight: 300;
  color: white;
}

.broken {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6096ba;
}
