
  @media (max-width: 680px) {
   
    .span {
      margin: 0;
    }
  }
  
  .span {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 95px;
    /* margin: 0 15px; */
    perspective: 1000px;
  }
  .span a {
    font-size: 16px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.25s;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .span a:before,
  .span a:after {
    position: absolute;
    
    height: 65px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    box-sizing: border-box;
    /* border-radius: 5px; */
  }
  .span a:before {
    color: #fff;
    background-color: #a5cce1;
    border-radius: 16px;
  
    transform: rotateY(0deg) translateZ(25px);
  }
  .span a:after {
    /* color: #fff; */
    border-radius: 16px;
    background: gold;
    cursor: pointer;
    transform: rotateX(90deg) translateZ(25px);
  }
  .span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
  }
  