.footer_dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #6096ba;
}

.footer_dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer_dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}

.footer_dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer_dark ul a:hover {
  opacity: 0.8;
}
.row {
  padding: 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media (max-width: 800px) {
  .row {
    grid-template-columns: 1fr 1fr 1fr;
    /* padding-top: 4rem; */
  }
}

@media (max-width: 600px) {
  .row {
    grid-template-columns: 1fr;
    /* padding: 1rem; */
    /* padding-top: 4rem; */
    padding: 1rem;
  }
}

@media (max-width: 767px) {
  .footer_dark .item:not(.social) {
    text-align: center;

    padding-bottom: 25px;
  }
}

.footer_dark .item.text {
  margin-bottom: 36px;
}

.footer_dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .footer_dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer_dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}
.socialmediacontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab {
  font-size: 4rem;
  color: white;
  opacity: 0.8;
}
.fab:hover {
  opacity: 1;
}

.footer_dark .item.social > a:hover {
  opacity: 0.9;
}

.footer_dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.location {
  font-size: 0.9rem;
}
