.body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #6096ba;
  color: white;
  padding: none;
  margin-bottom: 0rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
  flex-wrap: wrap;
}
.brandtitle {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #6096ba;
  margin: 0.5rem;
  cursor: pointer;
}

.list_ul {
  margin: 0;
  padding: 0px 10px 0px 10px;
  display: flex;
  background-color: #6096ba;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: white;
  padding: 5px 25px 5px 25px;
  font-size: 1rem;
  background-color: #6096ba;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
.header .fullwidth {
  width: 100%;
}

@media (max-width: 780px) {
  .header a {
    padding: 5px 15px 5px 15px;
  }
}

@media (max-width: 700px) {
  .fullwidth {
    width: 100%;
  }
}
.livebox {
  display: block;
  margin: 0 auto;
}
.livebox > img {
  width: 100%;
}

.header a:hover {
  background-color: gold;
  border-radius: 16px;
}

.menu_icon {
  /* position: absolute; */
  /* top: 1.5rem;
  right: 2rem; */
  display: none;
  align-self: flex-end;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  width: 35px;
  height: 23px;
  background-color: #6096ba;
}
.menu_iconbar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (min-width: 675px) {
  .fab {
    font-size: 2.5rem;
    color: #2f308b;
    padding: 0;
    margin: 0;
  }
  .lala {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socialmediacontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 8rem;
    margin-top: 5px;
  }
}

@media (max-width: 675px) {
  /* .navbar_links {
      font-size: 1.2rem;
      margin: 0.5rem;
    } */
  .brandtitle {
    font-size: 1.1rem;
    white-space: pre-wrap;
    font-weight: 500;
    margin-bottom: 17px;

    text-align: left;
    width: 280px;
  }
  .navbar {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
  }

  .menu_icon {
    /* position: absolute;
      top: 1rem;
      right: 1rem;
      padding: none;
      display: flex; */

    display: block;
    position: absolute;
    top: 0px;
    right: -7px;
    transform: translate(-100%, 60%);
    font-size: 0.3rem;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;
  }

  .navbar_links {
    display: none;
    width: 100%;
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  .list_ul {
    width: 100%;
    flex-direction: column;
    background-color: #4f80a0;
    border-radius: 16px;
    padding-bottom: 0.2rem;
    margin-top: 10px;
  }

  .list {
    text-align: center;
    background-color: #4f80a0;
  }

  .header a {
    padding: 1rem 5rem;
    font-size: 23px;
    padding: 0px 6rem 5px 6rem;
    background-color: #4f80a0;
    width: 100%;
    display: inherit;
  }

  .navbar_links_active {
    display: flex;
  }
  .socialmediacontainer {
    display: none;
  }

  .menu_index_title {
    font-size: 10px;
    color: #fff;
  }
  .header {
    line-height: 1.5;
  }

  .fas {
    font-size: 2rem;
  }
}
.faba {
  font-size: 6rem;
  background-color: #4f80a0;
  padding: 0 !important;
}



.Link .active {
  background-color: gold;
  font-size:30px;
}

 .active  {
  background-color: gold;
  padding: 20px;
}
 