.section {
  background-color: #a6d6f5;
  font-family: "Manrope", sans-serif;
  color: black;
  padding: 1rem;
}

.container_biography {
  display: flex;
  justify-content: center;
  align-items: center;
  

  /* background-color: #97d0ee; */
  /* background-color: blue; */

}

.leftcol {
  width: 50%;
  align-self: start;
  padding:1rem;
  max-width: 600px;
  opacity: 0.8;
}
.rightcol {
  align-self: center;
  width: 50%;
  max-width: 500px;
}
.photo {
 width:95%;
  height: auto;
  border: 5px solid #f0f0f0;
  border-right: none;
}

.title {
  font-weight: 500;
  font-size: 40px;
}

.role {
  color: brown;
  font-size: 20px;
  padding: 1rem 0;
}

.description {
  text-align: justify;
  padding-bottom:0.5rem;
  
}
@media (max-width: 675px) {
  .container_biography {
    flex-direction: column;
  }
  .rightcol {
    width: 100%;
    align-self: center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-items:center;
  }
  .photo {
    width: 90%;
    height: auto;
    align-self: center;
  }
  .leftcol {
    width: 100%;
  }

}

.list {
  padding-left:1.5rem;
  text-decoration:none;
  /* list-style: none; */

}

.divofgroup {
  display:flex;
  flex-direction: column;
  align-items: center;

}
.title {
  font-size: 40px;
}

/* .listofgroup {

} */