.bigdiv{
    padding: 1rem 1rem;  
    font-family: "Manrope", sans-serif;
    /* border:2px solid gold; */
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width:100%;
    /* background-color: #6096ba; */
    background-color: rgb(172, 160, 94);
    color:white;
   
}

.divo{
    border-bottom: 2px solid black;
    display:flex;
    flex-direction: row;
    /* width: 95%; */
    width:300px;
    justify-content: space-between;


    
}

.day{
    /* width:10%; */
    /* padding-right: 2.8rem; */
    flex-wrap: nowrap;
    
}
.hour{
    /* width:80%; */
       text-align: right;
     
   
   }
   .background{
       display:flex;
       background-color: #6096ba;
       align-items: center;
       justify-content: center;
       /* width:100%; */
   }
  
   @media (max-width: 600px){
    .bigdiv{
   padding:1rem 0.5rem;
}}