/* .cont {
  background-color: #6096ba;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.element {
  justify-content: center;
  color: seagreen;
  background: #ffb300;

  text-align: center;
  font-size: 2rem;
  color: #ff5722;
} */
