.single_box_of_anouncements {
  border-radius: 3px;
  max-width: 600px;
  padding: 0;
  color: #fff;
}
.photo1 {
  height: 500px;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(10px 10px 40px #000000);
}
.texts_of_anouncements {
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
  padding-bottom: 0;
  color: black;
  background-color: white;
  height: 4rem;
  /* font-family: "Sorts Mill Goudy", serif; */
  font-family: "Manrope", sans-serif;

  font-weight: 400;
  filter: drop-shadow(10px 10px 40px #000000);
}

.description {
  max-width: 500px;
  justify-content: center;
  justify-items: center;
}
@media (max-width: 575px) {
  .description {
    font-size: 0.8rem;
  }
}
@media (max-width: 1285px) {
  .texts_of_anouncements {
    height: 14rem;
  }
}
