.bigDiv {
    padding: 1rem;
    max-width: 1200px;
    text-align: center;
}

.name {
    font-size: 2rem;
    font-weight: 400;
}

.locationYear {
    color: rgb(44, 50, 54);
}

.diakrisi {
    font-size: 1.4rem;
}


.img {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    max-width: 300px;
    border-radius: 16px;
    width: 90%
}

.divImages {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
    max-width: 1200px;
}

.locationYear {
    font-size: 1.2rem;
}

@media (max-width: 800px) {
    .divImages {
        flex-direction: column;
        width: 100%;
    }

    .img {
        width: 90%;
        max-width: 500px;
        margin-top: 0.5rem;
    }
}