.cont {
  padding: 1rem;
  /* background-color: #6096ba; */
  background-color: #a5cce1;
  background-color: #5687a7;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-self: center;
}
.title {
  color: white;
  font-family: "Manrope", sans-serif;
  text-decoration: underline;
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 1.5rem;
}
.description {
  color: white;

  font-weight: 300;
  max-width: 700px;
  text-align: justify;

  color: white;
}

.cont2 {
  padding: 4rem 0;

  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  background-color: #a5cce1;
}

.description2 {
  color: white;
  padding: 0 1rem;

  font-weight: 300;
  max-width: 700px;
  text-align: justify;
  animation: right_to_left 2s ease;
}

@keyframes right_to_left {
  from {
    margin-right: 15%;
  }
  to {
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .description {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding: 1rem;
  }
  .cont {
    flex-direction: column;
  }
  .cont2 {
    padding: 1rem;
  }
  .title {
    font-size: 1.7rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .photo {
    height: 580px;
    width: auto;
    padding-bottom: 1rem;
  }
  .description2 {
    animation: none;
  }
}
@media (max-width: 560px) {
  .photo {
    height: 380px;
  }
  .description {
    font-size: 1rem;
  }
  .description2 {
    font-size: 1rem;
  }
}
.section_of_button {
  padding-bottom: 4rem;
}

.span {
  position: relative;
  display: inline-flex;
  padding-top: 1.5rem;

  width: 180px;
  height: 95px;
  /* margin: 0 15px; */
  perspective: 1000px;
}
.span a {
  font-size: 16px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.span a:before,
.span a:after {
  position: absolute;
  content: "Δείτε τα τμήματα μας";
  height: 65px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  box-sizing: border-box;
  /* border-radius: 5px; */
}
.span a:before {
  color: #fff;
  background-color: #6096ba;
  border-radius: 16px;

  transform: rotateY(0deg) translateZ(25px);
}
.span a:after {
  /* color: #fff; */
  border-radius: 16px;
  background: gold;
  cursor: pointer;
  transform: rotateX(90deg) translateZ(25px);
}
.span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
