.title {
  font-weight: 500;
  font-size: 1.5rem;
  /* font-family: "Manrope", sans-serif; */
  font-family: "Raleway", sans-serif;
  word-spacing: 1px;
  height: 5rem;
  text-align: left;
}

.single_box_of_anouncements {
  position: relative;
  border-radius: 3px;
  max-width: 400px;
  padding: 0;
}
.photo1 {
  height: 300px;
  width: 100%;
  /* background-size: cover; */
  object-fit: cover;
  filter: drop-shadow(10px 10px 40px #000000);
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}
.texts_of_anouncements {
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
  padding-bottom: 0;
  color: black;
  background-color: white;
  height: 21rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  filter: drop-shadow(10px 10px 40px #000000);
}
.date_of_anouncements {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  color: brown;
  padding: 0.5rem 0;
}

.backlink_more_info {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgba(124, 58, 237);
  background: white;
  padding: 0.25rem 1rem;
  border-width: 1px;
  border-radius: 9999px;
  --tw-border-opacity: 1;
  border-color: rgba(221, 214, 254, var(--tw-border-opacity));
  font-family: inherit;
  font-size: 1rem;
  border-style: solid;
  position: absolute;
  bottom: 20px;
  left: 10px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
}
.backlink_more_info:hover {
  color: white;
  --tw-bg-opacity: 1;
  background-color: rgba(124, 58, 237, var(--tw-bg-opacity));
}

.description {
  max-width: 500px;
  justify-content: center;
  justify-items: center;
}

@media (max-width: 1285px) {
  .texts_of_anouncements {
    height: 23rem;
  }
  .title {
    font-size: 1.5rem;
    white-space: normal;
    text-align: left;
  }
}
@media (max-width: 575px) {
  .description {
    font-size: 1rem;
  }
  .title {
    font-size: 1.5rem;
    height: auto;
    white-space: normal;
    text-align: left;
  }
  .texts_of_anouncements {
    height: 24rem;
  }
}
