.gridnews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #6096ba;
  column-gap: 2em;
  padding: 5rem;
  grid-gap: 2em;
  padding-top: 2rem;
}
@media (max-width: 1200px) {
  .gridnews {
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;
  }
}
@media (max-width: 768px) {
  .gridnews {
    grid-template-columns: 1fr;
    padding-top: 4rem;
  }
}

@media (max-width: 600px) {
  .gridnews {
    grid-template-columns: 1fr;
    padding-top: 4rem;
    padding: 1rem;
  }
}

.section {
  background-color: #6096ba;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 0;
}

.span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 95px;
  perspective: 1000px;
  padding-top: 2rem;
}
.span a {
  font-size: 16px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.span a:before,
.span a:after {
  position: absolute;
  content: "Παλαιότερες Ανακοινώσεις";
  height: 65px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  box-sizing: border-box;
}
.span a:before {
  color: #fff;
  background-color: #a5cce1;
  border-radius: 16px;
  transform: rotateY(0deg) translateZ(25px);
}
.span a:after {
  border-radius: 16px;
  background-color: gold;
  cursor: pointer;
  transform: rotateX(90deg) translateZ(25px);
}
.span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
