.gridnews {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #6096ba;
  column-gap: 2em;
  padding: 5rem;
  grid-gap: 2em;
  padding-top: 2rem;
}
@media (max-width: 1200px) {
  .gridnews {
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;
  }
}
@media (max-width: 768px) {
  .gridnews {
    grid-template-columns: 1fr;
    /* padding: 1rem; */
    padding-top: 4rem;
  }
}

@media (max-width: 600px) {
  .gridnews {
    grid-template-columns: 1fr;
    /* padding: 1rem; */
    padding-top: 4rem;
    padding: 1rem;
  }
}

.justtoleave {
  height: 5rem;
  background-color: #6096ba;
}
