.SingleAnouncement {
  max-width: 1000px;
}

.divphoto {
  border-left: none;
  margin-bottom: 5rem;
}

.title {
  font-size: 2.3rem;
  font-weight: 600;
  padding: 1rem 0rem 0rem 1rem;
}

.anouncements_title {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  padding-top: 2rem;
}

.photo {
  float: left;
  padding: 1rem;
  height: auto;
  width: 100%;
}

.date_of_anouncements {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: brown;
  padding-top: 0.5rem;
  padding-left: 1.1rem;
  padding-bottom: 1rem;
}

.description {
  padding: 1rem;
  font-size: 1.5rem;

  max-width: 1200px;
  text-align: justify;
}
@media (max-width: 575px) {
  .description {
    font-size: 1rem;
    text-align: justify;

    /* word-spacing: -2px; */
  }
  .divphoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
